.wp .slider{position: relative;margin-top:40px;}
.wp .slider ul{position:relative;list-style-type:none;}
.wp .slider ul li{position:absolute;width: 100%;}
    .wp .row{margin:30px auto;width:80%;max-width:1480px;}
    .wp .row section{display:flex;justify-content:center;}
    .wp .row section>div{width:30%;margin:1%;display:flex;flex-direction:column;position:relative;}
    .wp .row section div a:nth-of-type(1){border:1px solid #e8e8e8;display: inline-block ;}
    .wp .row section div:hover a:nth-of-type(1){border:1px solid #e33e32;}
    .wp .row section div img{width:100%;margin-bottom:20px;}
.wp .row section div .down{display:flex;justify-content:space-around;align-items:center;}
.wp .row section div .down .l{width:75%;margin-bottom:20px;}
.wp .row section div .down .r{width:55px;height:42px;line-height:42px;margin-bottom:20px;text-align:center;font-size: 1rem;}
  /*  .wp .row section div:nth-of-type(1) h4{height:90px;width:90px;position:absolute;top:-11px;left:0;
        background:url(../img/3.png) no-repeat center;background-size:contain;}
    .wp .row section div:nth-of-type(2) h4{height:90px;width:90px;position:absolute;top:-11px;left:0;
        background:url(../img/4.png) no-repeat center;background-size:contain;}
    .wp .row section div:nth-of-type(3) h4,
    .wp .row section div:nth-of-type(4) h4{height:90px;width:90px;position:absolute;top:-11px;left:0;
        background:url(../img/5.png) no-repeat center;background-size: contain;}
*/
    .wp .row h2{width:95%;margin:0 auto;font-size:1.5rem;color:#444;font-weight:normal;border-bottom: 1px solid #e8e8e8;} 
    .wp .row h3,.wp .row p,.wp .row time{color:#444;font-size:13px;font-weight:normal;}
    .wp .row h3{font-size:1rem;}   
.wp .row section div .detail{margin-top:5px;display:flex;justify-content:space-between;padding:0 1px;box-sizing:border-box;}
.wp .row .detail p:before{content:'';display:inline-block;background:url(../img/people.png) no-repeat center;width:1rem;height:1rem;background-size:contain;margin-right:2px;}     
.wp .row .detail time:before{content:'';display:inline-block;background:url(../img/clock.png) no-repeat center;width:1rem;height:1rem;background-size:contain;margin-right:2px;}     
.wp .row section div a:nth-of-type(2){text-align:right;color:#444;margin-top:5px;width:100%;display:inline-block;font-weight:500;}
    .wp .row3 section{width:90%;margin:10px auto;flex-wrap:wrap;margin-bottom:10px;}
    .wp .row3 section a{display:flex;justify-content:center;align-items:center;width:200px;margin:1%;background-color:#457ba1;padding: 5px 0;box-sizing:border-box;}
    .wp .row3 section a img{width:50px;margin-right:10px}
    .wp .row3 section a p{color:#fff;}
    .wp .row3>a{display:inline-block;text-align:right;max-width:1480px;width:98%;margin:0 auto;}
    .wp .row section div:nth-of-type(4){display:none;}
@media(max-width:1340px){
    .wp .row{width: 90%;}
}
@media(min-width:1300px){
    .wp .row section div .detail{width: 250px;}
}
@media(max-width:1280px){
    .wp .row section div .down .r{width:15%;}
}
    @media(max-width:1023px){
        .wp .row3 section a:last-of-type{display:none;}
    }
 @media(max-width:1190px){
        .wp .row{width: 100%;}
        
    }
    @media(max-width:1161px){
        .wp .row h3{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
    }
@media(max-width:900px){
    .wp .row section>div{width:31%;}
}
    @media(max-width:800px){
        .wp .row3 section a{width:180px;}
        .wp .row h3{ white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
        .wp .row section{flex-wrap: wrap;}
        .wp .row section div:nth-of-type(4){display:block;}
        .wp .row3 section a img{width: 40px;} 
        .wp .row section>div{width:48%;}
        .wp .row section{width:80%;margin:10px auto;}
        .wp .row3 section a:last-of-type{display:flex;}
        .wp .row3>a{width: 90%;}
    }
    @media(max-width:750px){
        .wp .row3 section a img{margin-right:5px}
        .wp .row h2{font-size:1.3rem;}
    }
    @media(max-width:600px){
          .wp .row section{width: 90%;}
    }
    @media(max-width:555px){
        .wp .row h3,{font-size:0.9rem;}
        .wp .row p, .wp .row time{font-size:13px;}
        .wp .row section>div{width:80%;margin:2% 1% 4%;}
        .wp .row section{justify-content:center;}
    }
@media(max-width:350px){
    .wp .row section>div{width: 90%;}
}
    