.wp .row1{margin:30px auto;width:80%;max-width:1480px;display:flex;justify-content:space-around;}
.l{width:20%;}
.m{width:40%;}
.r{width:30%;}   
.m h3,.m p{font-weight:normal;}
.m h3{margin-bottom:10px;font-size:24px;color:#444;}
.m p{color:#666;}
.l,.r,.d{display:flex;align-items:center;justify-content:center;}
.l .right{display:flex;flex-direction:column;align-items: center;}
.d{justify-content:center;margin-top: 10px;}
.r img{height:60px;width:auto;margin:0 5px;}   
.l img{height:90px;width:auto;} 
.d .image_f{background:url(../img/inside/fb_black.png) no-repeat center;width:25px;height:25px;background-size: contain;margin: 0 2px;}
.d .image_f:hover{background:url(../img/inside/fb_color.png) no-repeat center;width:25px;height:25px;background-size: contain;margin: 0 2px;}
.d .image_l{background:url(../img/inside/line_black.png) no-repeat center;width:25px;height:25px;background-size: contain;margin: 0 2px;}
.d .image_l:hover{background:url(../img/inside/line_color.png) no-repeat center;width:25px;height:25px;background-size: contain;margin: 0 2px;}    
.row2 .tabs{display:flex;justify-content:center;padding:10px 0;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;box-sizing:border-box;}
.row2 .tabs li{width:100px;text-align:center;}
.row2 .tabs li a{color:#444;} 
.row2 .tabs li a:hover{border-bottom:3px solid #e33e32;padding-bottom: 5px;}
.row2 .tabs li a.active{border-bottom:3px solid #e33e32;padding-bottom: 5px;}
.row2 ul.tab_container{margin-top:10px;min-height:500px;max-width:1480px;width:80%;margin:10px auto 0;}
.row2 ul.tab_container li{width:70%;margin:0 auto;padding-bottom: 20px;}
.row2 ul.tab_container #tab1 img{width: 100%;}
 @media(max-width:1200px){
     .row2 ul.tab_container li{width:90%;}
    }
    @media(max-width:1080px){
        .wp .row1{width: 90%;}
        .r img{height:50px;}
    }
    @media(max-width:1024px){
        .l{width:20%;}
        .r{width:30%;}
        .m{width: 40%;}
        .row2 ul.tab_container{width:90%;} 
    }
     @media(max-width:1000px){
        .wp .row1{width:100%;}
    }
    @media(max-width:870px){
        .row2 ul.tab_container li{width:100%;}
    }
     @media(max-width:800px){
            .l img{height:70px;}
        .row2 ul.tab_container{width:95%;}
    }
    @media(max-width:750px){
        .r img{height:45px;}
        .l img{height:60px;}
        
    }
    @media(max-width:700px){
        .wp .row1{flex-direction: column;margin: 0 auto 10px;}
        .l,.m,.r{width:90%;margin:10px auto;justify-content: center;}
        .m{width: 60%;}
        .m h3{text-align: center;}
    }
    @media(max-width:515px){
        .m{width: 70%;}
    }
    @media(max-width:375px){
        .m{width: 80%;}
        .row2 .tabs li a{font-size:0.9rem;}
}
 @media(max-width:350px){
        .m{width:90%;}
}
    @media(max-width:320px){
        .row2 ul.tab_container{width:100%}
        }