@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);/*font-family: 'cwTeXHei', sans-serif;黑體*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexkai.css);/*font-family: 'cwTeXKai', serif;楷體*/
*{margin:0;padding:0;} 
body ul, body li{padding:0;margin:0;list-style:none;}
body a{text-decoration:none;}
input:focus{outline:none}
select::-ms-expand{display:none;}
body{margin:0 auto;padding:0;width:100%;min-width:270px;font-family:'微軟正黑體','Microsoft JhengHei','cwTeXHei', sans-serif;
    background-color:white;position:relative;}
header{width:100%;height:70px;margin:0 auto;border-bottom:1px solid #e8e8e8;padding-bottom: 5px;box-sizing:border-box;
    position:fixed;top:0;z-index:3;background-color:#fff;}
header .bg{width:100%;position:absolute;top:0;left:0;z-index:2;display:none;}
header nav{width:30px;height:40px;/*background:url(../img/menu.png) no-repeat center;background-size:contain;*/cursor:pointer;display:none;position:absolute;right:15px;top:22px;}   
header nav span{position: absolute;display: block;width: 100%;height: 2px;background: #030f32;
-webkit-transition: all .3s ease 0s;transition: all .3s ease 0s;}
header nav span:nth-of-type(1){top:2px;}
header nav span:nth-of-type(2){top:12px;}
header nav span:nth-of-type(3){top:22px;}
.menuOpen header nav span:nth-of-type(1){top: 12px;transform: rotate(45deg);-webkit-transform: rotate(45deg)}
.menuOpen header nav span:nth-of-type(2){width: 0;right: 0}
.menuOpen header nav span:nth-of-type(3){top: 12px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg)}
header .row1{max-width:1480px;width:80%;margin:0 auto;height:70px;display:flex;align-items:center;position: relative}
header .row1>a{display:inline-block;}
header .row1 a h1{font-size:0;text-indent:-9999px;width:150px;height:70px;background:url(../img/logo.png) no-repeat center -1px;background-size:contain;color:transparent;}
header .row1 .right{width:90%;text-align:center;display:flex;justify-content:flex-end;padding-right: 20px;}  
header .row1 .right a{color:#444;font-weight:600;display:inline-block;width:auto;margin:0 10px;line-height:70px;font-size:1rem;transition:all 0.5s;}
header .row1 .right a:hover{color:#e33e32;}
header .row1 .menu{width:100%;position:absolute;top:70px;right:0;z-index:3;padding-left:0;display: none;overflow: scroll;}
header .row1 .menu a{display:block;background-color:rgb(28, 28, 28);margin:0;color:#fff;border-bottom:1px solid #fff;line-height:70px;text-align: center;}
#main {width: 100%;margin-top: 70px;}
footer{width:100%;padding:5px 0;margin:0 auto;color:#fff;background-color:#424142;}
footer .row1{max-width:1480px;width:80%;padding:30px 10px;box-sizing:border-box;margin:0 auto;}
footer .row1 .up{display:flex;align-items:flex-start;justify-content:center;}
footer .row1 .l{width:35%;margin:1% 4% 1% 1%;}
footer .row1 .r{width:48%;margin:1%;}
footer .row1 p{line-height:1.5rem;font-size:13px;}
footer .row1 p.bb{border-bottom:1px solid #fff;margin-bottom:15px;}
footer .row1 .down{width:88%;border-top:1px solid #fff;padding-top: 10px;margin:0 auto;font-size:13px;}
@media(max-width:1280px){
           header .row1 .right a{margin: 0 5px;}
           footer .row1{width:95%;}
    }
@media(max-width:1070px){
    footer .row1{width:100%;}
}
    @media(max-width:900px){
        header .row1{width: 100%;}
           header .row1 .right a{font-size:0.9rem;}
    }
@media(max-width:800px){
    footer .row1{padding:30px;}
    footer .row1 .up{flex-direction: column;}
    footer .row1 .l,footer .row1 .r,footer .row1 .down{width:100%;margin:0;margin-bottom: 30px;}
}
    @media(max-width:710px){
       header .row1 .right{padding-right: 10px;}
       header .row1 .right a{color:#666;}
    }
    @media(max-width:600px){
           header .row1 .right a{font-size:0.8rem;}
    }
@media(max-width:700px){
    footer .row1{padding: 10px;}
    footer .row1{width: 90%;}
    footer .row1{flex-direction:column;margin-bottom:0;}
    footer .row1>a,footer .row1>p,footer .row1 span{width:100%;margin-right:0%;}
    footer .row1 .right{width:100%;display:flex;justify-content: center;margin-top:10px;}
    footer .row1 .right a,footer .row1 .right .line{margin: 0 1%;}
}
@media(max-width:500px){
    footer p{padding: 5px;}
    header nav{display: block;}
     header .row1 .right{display: none;}
}
@media(max-width:414px){
    footer .row1{width: 98%;}
    footer .row1 p{line-height: inherit;}
    footer .row1 .r{margin-top: 10px;}
}