::-webkit-scrollbar {width: 0px;background:#ffffff;height:8px;}
::-webkit-scrollbar-thumb {background: rgba(255, 255, 255, 0.16);}
.mem_wp {max-width:900px;width:100%;margin:150px auto 90px;}
    .mem_wp .tabs{width:80%;margin:0 auto;display:flex;justify-content:center;}
    .mem_wp .tabs li {display:inline-block;height:50px;line-height:50px;margin:0 50px;text-align:center;} 
    .mem_wp .tabs li a{background-color: transparent;color:#555;font-size:1rem;font-weight:400;cursor:pointer;}
    .mem_wp .tabs li:hover a{color: #3030d4;border-bottom:1px solid #3030d4;padding-bottom: 5px;}
    .mem_wp .tabs li {background-color:transparent;color:#fff;}
    .mem_wp .tabs li a.active{color:#f44336;background-color:transparent;padding-bottom: 5px;}
.mem_wp .tabs li a.active:hover{border-bottom:1px solid #f44336;}    
.mem_wp .tab_container {border:1px solid #d8d8d8;border-radius:50px;background-color:transparent;overflow:hidden;margin-top:18px;height:500px;}
    .mem_wp .tab_container ul {width:100%;position:relative;min-height:500px;display:flex;flex-wrap:nowrap;} 
    .mem_wp .tab_content .content {position:absolute;width: 100%;height: 100%;	}
    .mem_wp .tab_content .content:nth-of-type(2){overflow: scroll;}
    .mem_wp .tab_content .content{width:100%;}
/*會員修改*/
.mem_wp .tab_content .content form{width:500px;margin:100px auto;text-align: center;}
.mem_wp .tab_content .content form .detail{width:250px;display:flex;align-items:center;margin:25px auto;border-bottom:1px solid #999;padding-bottom:3px;box-sizing:border-box;}
.mem_wp .tab_content .content form .detail.nb{border:0;margin:40px auto;}
.mem_wp .tab_content .content form .detail.nb span{background-color:#ffd9d9;font-size:13px;color:#777;padding: 0 3px;}
.mem_wp .tab_content .content form .detail.nb.f{justify-content:flex-start;}
.mem_wp .tab_content .content form .detail img{width:15px;}
.mem_wp .tab_content .content form .detail input{border:0;margin-left:10px;}
.mem_wp .tab_content .content form .detail.nb input{border:1px solid #d8d8d8;margin-right:10px;margin-left: 0;width:70px;}
.mem_wp .tab_content .content form .detail img.check{width:50px;height:16px;background-color:#999;margin-left:10px;}
.mem_wp .tab_content .content form input.c.btn{width:66px;height:25px;background:url(../img/login/save.png) no-repeat center;background-size:contain;color:transparent;border: 0;}
/*購買明細*/
    .mem_wp .tab_content .content table{width:70%;margin:70px auto 0;padding:20px 0;text-align:center;}
    .mem_wp .tab_content .content table tr th{padding:5px 0;box-sizing:border-box;border-bottom:1px solid #d8d8d8;line-height:50px;font-weight:normal;}
    .mem_wp .tab_content .content table tr td{color:#777;border-bottom:1px solid rgba(235, 235, 235, 0.71);line-height:70px;}
    .mem_wp .tab_content .content table tr td.lineh {line-height:1.4rem;padding:5px;box-sizing: border-box;}
    .mem_wp .tab_content .content table tr{color:#666;}
    .mem_wp .tab_content .content:last-child{overflow-y:scroll;}
/*Mcontent*/
.Mcontent{width:70%;margin:0 auto;padding:10px 0;display:none;}
.Mcontent .row{width:98%;margin:10px auto 30px;padding:20px;border-bottom:1px solid #d8d8d8;box-sizing: border-box;}
.Mcontent p{display: flex;justify-content:space-between;line-height:50px;border-bottom: 1px dotted #ddd;}    
.Mcontent p a:nth-of-type(2){text-align:right;display:inline-block;width:70%;}
.Mcontent p:last-child{border-bottom:0;}    
.Mcontent p:last-child a{display:inline-block;width:70%;line-height:2.3rem;border-bottom:#f0f0f0;transition:all 0.7s;color:#e83f3f;} 
/*條款聲明*/
.mem_wp .tab_container .tab_content .tab3_wp .tab3_tabs{display:flex;justify-content:center;align-items:center;margin:20px auto;}
.mem_wp .tab_container .tab_content .tab3_wp .tab3_tabs li{width:200px;height:200px;border:1px solid #d8d8d8;border-radius:50%;text-align:center;box-shadow:1px 1px 1px #999;margin: 0 50px;}
.mem_wp .tab_container .tab_content .tab3_wp .tab3_tabs li a{color: #666;line-height:200px;}
.mem_wp .tab_container .tab_content .tab3_wp .tab3_tabs li.active a{color: #3030d4;border-bottom:1px solid #3030d4;}
.mem_wp .tab_container .tab_content .tab3_wp .tab3_tabs li a:hover{color: #3030d4;border-bottom:1px solid #3030d4;}
.mem_wp .tab_content .content .tab3_wp .tab3_content{margin-top:30px;}
.mem_wp .tab_content .content .tab3_wp .tab3_content .content2{width:80%;margin:0 auto;overflow-y:scroll;color:#555;font-weight:normal;}
.mem_wp .tab_content .content .tab3_wp .tab3_content .content2 .title{font-weight:600;color:#777;line-height:1.6rem;}
.mem_wp .tab_content .content .tab3_wp .tab3_content .content2 ol{padding-bottom:30px;}    
.mem_wp .tab_content .content .tab3_wp .tab3_content .content2 h2{width:100%;padding:4% 0 1%;font-size:1rem;font-weight:normal;color:#1B6393;font-weight:600;text-align:left;}
.mem_wp .tab_content .content .tab3_wp .tab3_content .content2 h3{color:#1B6393;font-weight:normal;padding:15px 0 5px;font-size:0.9rem;}
.mem_wp .tab_content .content .tab3_wp .tab3_content .content2 ol li p{text-align:left;line-height: 1.5rem}
.mem_wp .tab_content .content .tab3_wp .tab3_content .content2 ul{flex-direction:column;}
    @media(max-width:1249px){
        .mem_wp .tab_content .content .content1{width:95%;}
        .mem_wp .tab_content .content .detailmore{width: 100%;}
    }
@media(max-width:1080px){
    .mem_wp{max-width:700px;}
    .mem_wp .tabs li{width: auto;}
    .tbwp.tbwp_b{display:none;}
    .Mcontent{display: block;}
}
    @media(max-width:957px){
    .mem_wp .tabs li a{font-size:0.9rem;}
}
    @media(max-width:800px){
        .mem_wp .tab_content .content .tbwp.tbwp_b{overflow-x:scroll;}
        .mem_wp .tab_content .content .tbwp.tbwp_b table.Big{width:150%;}
        .mem_wp .tabs li.mobile, .tab_content li.mobile{display:none;}
        .mem_wp .tab_content .content table{width:100%;}
        .mem_wp .tab_content .content .top section,
        .mem_wp .tab_content .content .down section{margin-left: 20%;}
    }
@media(max-width:750px){
    .mem_wp{max-width:500px;}
    .mem_wp .tabs li{margin:0 auto;}
}
    @media(max-width:700px){
        .Mcontent{width:80%;}
        .mem_wp{margin-top:100px;}
        .mem_wp .tab_content .content .content1{flex-direction: column;justify-content:start;padding-top: 0;}
        .mem_wp .tab_content .content .mem_detail,
        .mem_wp .tab_content .content .user_data{flex-direction: column;}
        .mem_wp .tab_content .content .top, .mem_wp .tab_content .content .down{width: 100%;}
        .mem_wp .tab_content .content .top{border-right: 0;}
        .mem_wp .tab_content .content .tbwp,
        .mem_wp .tab_content .content table{width: 130%;}
        .mem_wp .tab_content .content .tbwp.tbwp_b table.Big{width:170%;}
        .mem_wp .tab_content .content .tbwp_s table{width:100%;} 
        .mem_wp .tab_content .content table tr td{font-size:0.9rem;}
}
    @media(max-width:611px){
        .mem_wp .tab_content .content .user_data .down{flex-direction: column;}
        .mem_wp .tab_content .content .user_pic,
        .mem_wp .tab_content .content .user_data{width: 45%;}
        .mem_wp .tab_content .content .user_data .down .inner{width: 100%;}
        .mem_wp .tab_content .content .user_data .down .inner p{margin: 5px 0;}
    }
    @media(max-width:596px){
        .mem_wp .tab_content .content .tab2_wp .tab2_tabs,
        .mem_wp .tab_content .content .tab4_wp .tab4_tabs{width: 100%;}
        .mem_wp .tab_content .content .tab2_wp .tab2_tabs li p,
        .mem_wp .tab_content .content .tab2_wp .tab2_tabs li.active p{width:80%;font-size:0.9rem;}
        .mem_wp .tab_content .content .top section{padding: 0;}
        .mem_wp .tab_content .content .top,.mem_wp .tab_content .content .down {width:100%;}
        .mem_wp .tab_content .content .top{border:0;}
        .mem_wp .tab_content .content input#addBtn,
        .mem_wp .tab_content .content input#Btn{margin:5px auto;}
    }
@media(max-width:550px){
    .Mcontent,
    .mem_wp .tab_content .content .tab3_wp .tab3_content .content2{width:90%;}
}
@media(max-width:545px){
   .mem_wp .tab_container{border: 0;}
    .mem_wp .tab_content .content form{margin:50px auto;}
    .mem_wp .tabs{width: 90%;}
    .Mcontent{margin: 0 auto;padding: 0;}
    .Mcontent .row{padding: 10px 20px 30px;}
}
    @media(max-width:500px){
        .mem_wp .tab_container .tab_content .tab3_wp .tab3_tabs{width: 70%;}
        .mem_wp .tab_content .content .tbwp_s table td{line-height:1.5rem;}
        .mem_wp .tab_content .content .tbwp_s table td.l{text-align: left;}
        .mem_wp .tab_content .content table{width: 180%;}
        .mem_wp .tab_content .content .tbwp.tbwp_b table.Big{width:210%;}
        .mem_wp .tab_content .content table tr{line-height:13px;}
        .mem_wp .tab_content .content .tab2_wp .tab2_tabs li:last-child{border: 0;}
        /*會員資料*/
        .mem_wp .tab_content .content .mem_detail{flex-direction: column;justify-content: center;align-items: center;padding-left:20%;}
        .mem_wp .tab_content .content .user_pic,
        .mem_wp .tab_content .content .user_data{width:80%;margin: 0 auto;}
        .mem_wp .tab_content .content .user_pic{text-align: left;}
        /**/
        .mem_wp .tab_content .content form{max-width:500px;width:100%;}
    }
@media(max-width:415px){
    .mem_wp .tab_container{margin-top: 0;}
    .mem_wp .tab_content .content .top section,
    .mem_wp .tab_content .content .down section{margin-left:20%;}
    .mem_wp .tabs li.active span{border-bottom: 3px solid #f44336;}
}

@media(max-width:376px){
    .mem_wp .tab_container .tab_content .tab3_wp .tab3_tabs{width:80%;}
    .mem_wp .tab_content .content .tbwp.tbwp_b table.Big{width:230%;}
    .mem_wp .tab_content .content table{width: 210%;}
    .mem_wp .tab_content .content .top section,
    .mem_wp .tab_content .content .down section{margin-left:15%;}
    .mem_wp .tab_content .content .mem_detail{padding-left: 15%;}
    .Mcontent{width:98%;}
}
@media(max-width:320px){
    .mem_wp .tab_container .tab_content .tab3_wp .tab3_tabs{width:90%;}
    .Mcontent .row{padding: 10px 10px 30px;}
     .mem_wp .tabs{width: 100%;}
}